<div id="chatbot">
<section id="chat-0">
<div><p class="tvf-bubble">Bienvenue, on peut te faire découvrir ?</p></div>
<div class="horizontal-scroll">
  <a href="#" data-to="chat-1" class="interactive btn btn-default btn-tvf">Oui merci !</a>
  <a href="{{ path('tvf_store_explore', {'category': 'vinyle'}) }}" class="btn btn-default btn-tvf">Non merci je me débrouille</a>
</div>
</section>
<section id="chat-1" class="hide">
<hr />
<div><p class="tvf-bubble">Une idée de cadeau ? <a href="{{ path('tvf_store_discover_box') }}">On offre des abonnements !</a></p></div>
<hr />
<div><p class="tvf-bubble">Que cherches-tu ?</p></div>
<div>
  <div style="display: flex; flex-direction: row; margin-bottom: 0.5rem;">
    <div style="width:49.6%; margin-right: 0.4%">
      <p class="center" style="margin-bottom: 0.5rem;">
        <a href="#" data-to="chat-3" class="interactive btn btn-default btn-tvf">Une nouveauté</a>
      </p>
      <div class="tvf-grid">
        <div class="tvf-row">
          {% for vinyl in chat_data.recent_vinyls %}
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
                <img src="{{ asset('uploads/img/' ~ vinyl.small_image) }}" alt="Visuel indisponible" style="color: black;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div style="width:49.6%;">
      <p class="center" style="margin-bottom: 0.5rem;">
        <a href="#" data-to="chat-3" class="interactive btn btn-default btn-tvf">Un classique</a>
      </p>
      <div class="tvf-grid">
        <div class="tvf-row">
          {% for vinyl in chat_data.classic_vinyls %}
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
                <img src="{{ asset('uploads/img/' ~ vinyl.small_image) }}" alt="Visuel indisponible" style="color: black;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <a href="#" data-to="chat-2" class="interactive btn btn-default btn-tvf"><i class="fa fa-search" aria-hidden="true"></i> J’ai déjà une idée bien précise</a>
</div>
</section>
<section id="chat-2" class="hide">
<hr />
<div>
  <div><p class="tvf-bubble">Je cherche un album ou un artiste...</p></div>
  <div class="input-group">
      <input id="chatbot_input_search" type="text" class="form-control" placeholder="Reinhardt ou Guetta, c'est toi qui vois." aria-label="Search for...">
      <span class="input-group-btn">
        <a id="chatbot_launch_search" href="{{ path('tvf_store_explore') }}" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Rechercher</a>
      </span>
    </div>
</div>
</section>
<section id="chat-3" class="hide">
<hr />
<div><p class="tvf-bubble">Ce que j'aime bien</p></div>
<div id="gender_like" class="horizontal-scroll">
  <a href="#" data-to="chat-4" class="interactive interactive-next btn btn-primary btn-tvf">Passer</a>
  {% for gender in genders %}
  <a href="#" data-id="{{ gender.id }}" class="btn-select btn btn-default btn-tvf">{{ gender.name }}</a>
  {% endfor %}
</div>
</section>
<section id="chat-4" class="hide">
<hr />
<div><p class="tvf-bubble">Ce que je n'aime pas</p></div>
<div id="gender_dislike" class="horizontal-scroll">
  <a href="#" data-to="chat-5" class="interactive interactive-next btn btn-primary btn-tvf">Passer</a>
  {% for gender in genders %}
  <a href="#" data-id="{{ gender.id }}" class="btn-select btn btn-default btn-tvf">{{ gender.name }}</a>
  {% endfor %}
</div>
</section>
<section id="chat-5" class="hide">
<hr />
<div><p class="tvf-bubble"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Ok, en avant !</p></div>
</section>
<section style="height: 20px;">
</section>
</div>
