<div id="my_insta">
  <div id="no_results"><h4>Pas de résultats</h4></div>
  <div class="tvf-grid">
    <div class="tvf-row">
      {% for vinyl in vinyls %}
      <div class="tvf-box tvf-icon"
          data-type="{% for type in vinyl.types %}{% if not loop.first %},{% endif %}{{type.id}}{% endfor %}"
          data-collection="{{ vinyl.collection.id }}"
          data-category="{{ vinyl.category.slug }}"
          style="z-index: {{vinyls|length - loop.index0}}">
        <div class="tvf-inner">
          <a href="{{ path('tvf_store_vinyl_show', {'id': vinyl.id}) }}">
            <img src="{{ asset('uploads/img/' ~ vinyl.small_image) }}" alt="" style="">
            <div class="caption">
              <h3>{{ vinyl.name }}</h3>
              {% if vinyl.onsold %}<h5>{{ vinyl.price }} €</h5>{% endif %}
            </div>
          </a>
        </div>
      </div>
      {% if loop.last %}
        {% set index = loop.index %}
        {% if is_granted('ROLE_ADMIN') %}
          <div class="tvf-box tvf-icon add-icon" style="z-index: {{vinyls|length + 1}};">
            <div class="tvf-inner">
              <a href="{{ path('tvf_record_vinyl_add') }}" style="text-align: center; height: auto;">
                  <h4 style="color: #BA0020;"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une création</h4>
              </a>
            </div>
          </div>
          {% set index = index + 1 %}
        {% endif %}
        {% if filterable == 'no'%}
          {% if (index + 1) is divisible by(3) %}
            <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
          {% elseif (index + 2) is divisible by(3) %}
            <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
            <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
          {% endif %}
          {% if (index + 1) is divisible by(2) %}
            <div class="tvf-box visible-to-xs"><div class="tvf-inner"></div></div>
          {% endif %}
        {% else %}
          <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
          <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
          <div class="tvf-box visible-from-sm"><div class="tvf-inner"></div></div>
          <div class="tvf-box visible-to-xs"><div class="tvf-inner"></div></div>
          <div class="tvf-box visible-to-xs"><div class="tvf-inner"></div></div>
        {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
