<div id="my_insta">
  <div id="no_results"><h4>Pas de résultats</h4></div>
  <div class="tvf-grid">
    <div class="tvf-row">
      {% for vinyl in vinyls %}
      <div class="tvf-box tvf-icon"
          data-index="{{ loop.index0 }}"
          data-id="{{ vinyl.id }}"
          data-img="{{ vinyl.small_image }}"
          data-name="{{ vinyl.name }}"
          data-artist="{{ vinyl.artist.name }}"
          data-price="{{ vinyl.price }}"
          data-onsold="{{ vinyl.onsold }}"
          data-description="{{ vinyl.description|nl2br }}"
          data-disquaire="{{ vinyl.client.name }}"
          data-disquaire-link="{{ vinyl.client.slug }}"
          data-type="{% for type in vinyl.types %}{% if not loop.first %},{% endif %}{{type.id}}{% endfor %}"
          data-collection="{{ vinyl.collection.id }}"
          data-category="{{ vinyl.category.slug }}"
          data-loved="{{ vinyl.loved }}"
          style="z-index: {{vinyls|length - loop.index0}}">
        <div class="tvf-inner">
          <a class="show-vinyl" href="{{ path('tvf_store_vinyl_show', {'id': vinyl.id}) }}">
            <img src="{{ asset('uploads/img/' ~ vinyl.small_image) }}" alt="" style="">
            <div class="caption">
              <!--<h3>{{ vinyl.name }}</h3>
              {% if vinyl.onsold %}<h5>{{ vinyl.price }} €</h5>{% endif %}-->
              <h3>
                <div class="love_icon love_icon_insta_btn">
                  {% if vinyl.loved  %}
                    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-heart fa-2x full-heart" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-heart fa-2x full-heart" aria-hidden="true"></i>
                  {% endif %}
                </div>
                {% if vinyl.onsold %}<span class="icon_insta_price">{{ vinyl.price }} €</span>{% endif %}
              </h3>
            </div>
          </a>
        </div>
      </div>
      {% if loop.last %}
        {% set index = loop.index %}
        {% if is_granted('ROLE_ADMIN') %}
          <div class="tvf-box tvf-icon add-icon" style="z-index: {{vinyls|length + 1}};">
            <div class="tvf-inner">
              <a href="{{ path('tvf_record_vinyl_add') }}" style="text-align: center; height: auto;">
                  <h4 style="color: #BA0020;"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un vinyl</h4>
              </a>
            </div>
          </div>
          {% set index = index + 1 %}
        {% endif %}
        {% if filterable == 'no'%}
          {% if (index + 1) is divisible by(3) %}
            <div class="tvf-box"><div class="tvf-inner"></div></div>
          {% elseif (index + 2) is divisible by(3) %}
            <div class="tvf-box"><div class="tvf-inner"></div></div>
            <div class="tvf-box"><div class="tvf-inner"></div></div>
          {% endif %}
        {% else %}
          <div class="tvf-box"><div class="tvf-inner"></div></div>
          <div class="tvf-box"><div class="tvf-inner"></div></div>
          <div class="tvf-box"><div class="tvf-inner"></div></div>
        {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div id="vinyl_overview"><div id="vinyl_slider" class="hide">
  <div class="vinyl-overview">
    <div class="tvf-row">
      <div class="caret"></div>
      <div class="window container">
        <div class="row">
          <div class="col-sm-4" style="padding: 0;">
            <div class="tvf-grid">
              <div class="tvf-row">
                <div class="tvf-box tvf-icon no-count">
                  <div class="tvf-inner">
                    <img class="vinyl-img" data-src="{{ asset('uploads/img/') }}" src="" alt="" style="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 content">
            <div class="love_price">
              <h4>
                <span class="price_btn badge badge-pill" style="padding: 16px;padding-top: 11px;padding-bottom: 9px;"><span class="vinyl-price"></span> €</span>
                <span class="love_btn love_icon top_circle_icon">
                  <a href="#" style="color:#BA0020;">
                      <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                  </a>
                </span>
              </h4>
            </div>
            <h4><b><span class="vinyl-name"></span></b></h4>
            <h5>Par <span class="vinyl-artist"></span></h5>
            <p><span class="vinyl-description"></span></p>
            <h6 class=""><a href="#" data-href="{{ path('tvf_record_client_present', {'slug':''}) }}" class="vinyl-disquaire-link"><span class="vinyl-disquaire">Noir de jais</span></a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
