{% set edition_buttons="TVFAdminBundle:Utils:edition.html.twig" %}
<div id="my_insta">
  <div id="no_results"><h4>Pas de résultats</h4></div>
  <div class="tvf-grid">
    <div class="tvf-row">
      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECORD') and no_add is not defined %}
        <div class="tvf-box tvf-icon add-icon" style="z-index: {{vinyls|length + 1}};">
          <div class="tvf-inner add-vinyl-btn">
            <a href="{{ path('tvf_record_vinyl_add') }}" style="text-align: center; height: auto;">
              <h4 style="color: #BA0020;" class="badge-title">
                <span class="badge badge-light badge-pill">
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un vinyle
                </span>
              </h4>
            </a>
          </div>
        </div>
      {% endif %}
      {% if is_owner is not defined %}
        {% set is_owner = false %}
      {% endif %}
      {% for vinyl in vinyls %}{% if vinyl.category.slug == 'vinyle' %}
      <div class="tvf-box tvf-icon"
          data-index="{{ loop.index0 }}"
          data-id="{{ vinyl.id }}"
          data-img="{{ vinyl.small_image }}"
          data-name="{{ vinyl.name }}"
          data-artists="{% for artist in vinyl.artists %}{{artist.name}}{% if not loop.last %},{% endif %}{% endfor %}"
          data-price="{{ vinyl.price }}"
          data-onsold="{{ vinyl.onsold }}"
          data-description="{{ vinyl.description|nl2br }}"
          data-disquaire="{{ vinyl.client.name }}"
          data-disquaire-link="{{ vinyl.client.slug }}"
          data-type="{% for type in vinyl.types %}{% if not loop.first %},{% endif %}{{type.id}}{% endfor %}"
          data-category="{{ vinyl.category.slug }}"
          data-loved="{{ vinyl.loved }}"
          style="z-index: {{vinyls|length - loop.index0}}">
        <div class="tvf-inner">
          <div class="tvf-edition">
            {% if is_granted('ROLE_ADMIN') or is_owner %}
              {{ include(edition_buttons, {'edit': path('tvf_record_vinyl_add', {'id': vinyl.id}), 'remove': path('tvf_record_vinyl_remove', {'id': vinyl.id}) }) }}
            {% endif %}
          </div>
          <h3 class="tvf-button visible-from-sm">
            <div class="love_icon love_icon_insta_btn">
              {% if vinyl.loved  %}
                <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                <i class="fa fa-heart fa-2x full-heart" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                <i class="fa fa-heart fa-2x full-heart" aria-hidden="true"></i>
              {% endif %}
            </div>
            {% if vinyl.onsold %}
              <a href="#">
                <span class="icon_insta_price price-cart badge badge-primary badge-pill">
                    {{ vinyl.price }} €
                </span>
              </a>
            {% endif %}
          </h3>
          <a class="show-vinyl" href="{{ path('tvf_store_vinyl_show', {'id': vinyl.id}) }}">
            <img src="{{ asset('uploads/img/' ~ vinyl.small_image) }}" alt="" style="">
            {% if not is_granted('ROLE_ADMIN') and not is_owner %}
            <div class="caption visible-from-sm">

            </div>
            {% else %}
            <div class="caption" style="opacity: 1">
              <h3 style="position: absolute; bottom: 15px; width: 100%;">{{ vinyl.name }}</h3>
            </div>
            {% endif %}
          </a>
        </div>
      </div>
      {% if loop.last %}
        {% set index = loop.index %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECORD')  and no_add is not defined %}
          {% set index = index + 1 %}
        {% endif %}
        {% if filterable == 'no'%}
          {% if (index + 1) is divisible by(3) %}
            <div class="tvf-box"><div class="tvf-inner"></div></div>
          {% elseif (index + 2) is divisible by(3) %}
            <div class="tvf-box"><div class="tvf-inner"></div></div>
            <div class="tvf-box"><div class="tvf-inner"></div></div>
          {% endif %}
        {% else %}
          <div class="tvf-box"><div class="tvf-inner"></div></div>
          <div class="tvf-box"><div class="tvf-inner"></div></div>
          <div class="tvf-box"><div class="tvf-inner"></div></div>
        {% endif %}
      {% endif %}
      {% endif %}{% endfor %}
    </div>
  </div>
</div>
<div id="vinyl_overview" class="hide"><div id="vinyl_slider" class="hide">
  <div class="vinyl-overview">
    <div class="tvf-row">
      <div class="caret"></div>
      <div class="window container">
        <div class="row">
          <div class="col-sm-4 visible-from-sm" style="padding: 0;">
            <div class="tvf-grid">
              <div class="tvf-row">
                <div class="tvf-box tvf-icon no-count">
                  <div class="tvf-inner">
                    <img class="vinyl-img" data-src="{{ asset('uploads/img/') }}" src="" alt="" style="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 content">
            <div class="love_price">
              <h4>
                <a href="#">
                  <span class="price_btn price-cart badge badge-pill" style="padding: 16px;padding-top: 11px;padding-bottom: 9px;">
                    <span class="vinyl-price"></span> €
                  </span>
                </a>
                <span class="love_btn love_icon top_circle_icon">
                  <a href="#" style="color:#BA0020;">
                      <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                  </a>
                </span>
              </h4>
            </div>
            <h4><b><span class="vinyl-name"></span></b></h4>
            <h5>Par <span class="vinyl-artists"></span></h5>
            <p><span class="vinyl-description"></span></p>
            <p><a href="#" class="vinyl-see-more">Voir les détails</a></p>
            <h6 class=""><a href="#" data-href="{{ path('tvf_record_client_present', {'slug':''}) }}" class="vinyl-disquaire-link"><span class="vinyl-disquaire">Noir de jais</span></a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
