{% extends "TVFStoreBundle::layout.html.twig" %}
{% block title %}
  | Contact
{% endblock %}
{% block body %}
<div id="history-page">
  {% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
  {% set text = "TVFStoreBundle:Utils:text.html.twig" %}
  {% set image = "TVFStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'contact'}) }}
  <div class="container">
    <div class="row hidden-xs-down" style="height:40px;"></div>
    <div class="row" style="margin-top: 25px;">
      <div class="offset-md-3 col-md-6" style="border-left: 1px #777777 solid;">
        <h2>{{ include(text, {'element': data.mail.title }) }}</h2>
        <p>{{ include(text, {'element': data.mail.info }) }}</p>
        <h5><a href="mailto:{{ data.mail.content.text|nl2br }}"><i class="fa fa-envelope" style="color: #BA0020;"></i> {{ include(text, {'element': data.mail.content }) }}</a></h5>
        <br /><br />
        <h2>{{ include(text, {'element': data.follow.title }) }}</h2>
        <h5><a href="https://{{ data.follow.content.text|nl2br }}"><i class="fa fa-facebook-official" style="color: #BA0020;"></i> {{ include(text, {'element': data.follow.content }) }}</a></h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% if is_granted('ROLE_ADMIN') %}
  {% set edit_script = "TVFAdminBundle:Utils:edit-handler.html.twig" %}
  {{ include(edit_script) }}
{% endif %}
{% endblock %}
