{% extends "TVFStoreBundle::layout.html.twig" %}
{% block title %}
  | Histoire
{% endblock %}
{% block body %}

<div id="history-page">
  {% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
  {% set text = "TVFStoreBundle:Utils:text.html.twig" %}
  {% set image = "TVFStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'history'}) }}
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
        <div id="floating_box_history" class="double-large-icon col-sm-6" style="float:left; height: 1000px;">
          <div class="under" style="width: 75%;">
            <div class="img-thumbnail creation-icon history-icon">
              <div class="img-cadre">
              {{ include(image, {'element': data.history.under, 'style': 'width:100%;'}) }}
              </div>
            </div>
          </div>
          <div class="over" style="width: 75%;">
            <div class="img-thumbnail creation-icon history-icon">
              <div class="img-cadre">
                {{ include(image, {'element': data.history.over, 'style': 'width:100%;'}) }}
              </div>
            </div>
          </div>
        </div>
        <h2 class="title special-font" style="font-size: 2rem; margin-bottom: 15px; white-space: inherit;">The Vinyl Factory.</h2>
          <!-- <h3>{{ include(text, {'element': data.history.title }) }}</h3> -->
          <p>{{ include(text, {'element': data.history.content }) }}</p>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-8">
        <h2>{{ include(text, {'element': data.author.title }) }}</h2>
        <p>
          {{ include(text, {'element': data.author.content}) }}
        </p>
      </div>
      <div class="col-sm-4">
        <div style="width: 100%;">
          <div class="img-thumbnail creation-icon img-round" style="visibility: hidden; width:100%; border-radius: 50%;">
            <div style="width:100%; height:100%; border-radius: 50%;" class="img-cadre">
              {{ include(image, {'element': data.author.img, 'style': 'width:100%; height:100%;'}) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% if is_granted('ROLE_ADMIN') %}
  {% set edit_script = "TVFAdminBundle:Utils:edit-handler.html.twig" %}
  {{ include(edit_script) }}
{% endif %}
<script>
  var width = $('.under').width();
  console.log(width);
  setTimeout(function(){
    $('.history-icon').each(function(){
      $(this).css('width', (width) +'px');
      console.log("done");
      $(this).find('.img-cadre').css('width', (width - 10) + 'px').css('height', (width - 10) + 'px');
      var $img = $(this).find('img');
      // remove constraint
      $img.css('width', 'auto');
      // check if portait
      if($img.width() < $img.height()){
        $img.css('height', 'auto');
        $img.css('width', '100%');
      } else {
        $img.css('height', '100%');
        $img.css('width', 'auto');
      }
      $(this).hide().css('visibility', 'visible').fadeIn();
    })
  }, 400);

</script>
<script>
  $(document).ready(function(){
    var $box = $("#floating_box_history");
    console.log($box.width());
    $box.css('height', $box.width()+($box.width() < 300 ? 20 : 0) + 30 +'px');
    $box.css('margin-right', Math.max(0.1*$box.width(), 25)+ ($box.width() < 300 ? 20 : 0)+'px');
    setTimeout(function(){
      var $round = $('.img-round');
      $round.css('height', $round.width()+'px');
      var $img = $round.find('img');
      $img.css('width', 'auto');
      if($img.width() < $img.height()){
        $img.css('height', 'auto');
        $img.css('width', '100%');
      } else {
        $img.css('height', '100%');
        $img.css('width', 'auto');
      }
      $round.hide().css('visibility', 'visible').fadeIn();
    }, 400);
  });
</script>
<script>
  var icon_inversed = false;
  $('.double-large-icon .over').hover(function(){
    setTimeout(function(){
      if(icon_inversed && $('.double-large-icon .over').is(':hover')){
        $('.double-large-icon .over').fadeOut(function() {
            $('.double-large-icon .under').css('z-index', '0');
            $('.double-large-icon .over').css('z-index', '1').fadeIn();
        })
        icon_inversed = !icon_inversed;
      }
    }, 300);
  });
  $('.double-large-icon .under').hover(function(){
    setTimeout(function(){
      if(!icon_inversed && $('.double-large-icon .under').is(':hover')){
        $('.double-large-icon .under').fadeOut(function() {
            $('.double-large-icon .over').css('z-index', '0');
            $('.double-large-icon .under').css('z-index', '1').fadeIn();
        })
        icon_inversed = !icon_inversed;
      }
    }, 300);
  });
</script>
{% endblock %}
