{% extends "TVFStoreBundle::layout.html.twig" %}
{% block body %}
{% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
{{ include(navbar, {'active': 'selection'}) }}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form name="form" class="form-signin"
            method="post" enctype="multipart/form-data"
            action="{{ path('tvf_record_selection_add',{'id': selectionId}) }}">
        <h3 class="form-signin-heading">{% if selectionId == 0 %}Ajouter{% else %}Modifier{% endif %} une sélection</h3>
        {% set input_form="TVFAdminBundle:Utils:form_input.html.twig" %}
        {% set save_form="TVFAdminBundle:Utils:form_save.html.twig" %}
        {{ include(input_form, {'element': form.title, 'name':"Titre"}) }}
        {{ include(input_form, {'element': form.description, 'name':"Brève description de la sélection"}) }}
        {% if selectionId != 0 and img != '' %}
        <div style="margin-top: 1rem; font-weight: bold;">Modifier l'image</div>
        <img src="{{ asset('uploads/img/' ~ img) }}" class="img-thumbnail" width="300">
        {% endif %}
        {{ include(input_form, {'element': form.image, 'name':"Ajouter une image"}) }}
        <em>Attention, l'image doit respecter le format portrait</em>
        <hr />
        <div style="margin-top: 10px;">
          <h5>Vinyles sélectionnés (<span id="nb_selected">0</span>)</h5>
          <div id="my_insta">
            <div class="tvf-grid">
              <div class="tvf-row" id="selected">
                {% for vinyl in form.vinyls %}
                  {% if vinyl.vars.data == '1' %}
                  {% set index = vinyl.vars.value %}
                  {% set entity = form.vinyls.vars.choices[index].data %}
                    <div class="tvf-box tvf-icon" style="visibility: visible">
                      <div class="tvf-inner">
                        <a class="show-vinyl" target="_blank" href="#">
                          <img src="{{ asset('uploads/img/' ~ entity.images[0]) }}" alt="" style="">
                          <div class="caption" style="opacity:1;">
                            <h3>
                              {{ entity.name }}<br />
                              <div style="margin-top: 8px;"><i data-id="{{ entity.id }}" class="fa fa-check-square-o mock-input" aria-hidden="true"></i></div>
                            </h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px;">
          <h5>{{ form_label(form.vinyls, "Ajouter des vinyles") }}</h5>
          {{ form_errors(form.vinyls) }}
          <div class="input-group">
            <input id="search_request" type="text" class="form-control" placeholder="Chercher des albums, des artistes...">
            <span class="input-group-btn">
              <a id="search_launch" class="btn btn-primary" type="button" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </span>
          </div>
          <div style="margin-top: 10px;">
            <h5>Résultats (<span id="nb_results">0</span>)</h5>
            <div id="my_insta">
              <div class="tvf-grid">
                <div class="tvf-row" id="search_results">
                </div>
              </div>
            </div>
            <div id="icon_template" class="hide">
              <div class="tvf-box tvf-icon" style="visibility: visible">
                <div class="tvf-inner">
                  <a class="show-vinyl" target="_blank" href="#">
                    <img src="{{ asset('uploads/img/') }}" alt="" style="">
                    <div class="caption">
                      <h3>
                      </h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px;">
          <div id="new_vinyls" class="hide">
            <h5>Derniers ajouts (0)</h5>
          </div>
          <div id="input_group" class="hide">
            {% for vinyl in form.vinyls %}
              {% set index = vinyl.vars.value %}
              {% set entity = form.vinyls.vars.choices[index].data %}
              {{ form_widget(vinyl) }}
              {{ entity.artist.name }} >
              {{ form_label(vinyl) }}<br />
            {% endfor %}
          </div>
        </div>
        {{ include(save_form, {'element': form.save, 'name': "Ajouter la sélection"}) }}
        {{ form_rest(form) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$('body').on('click', '.show-vinyl', function(e){
  e.preventDefault();
  // modify display input
  var display_input = $(this).find('.mock-input');
  var input_id = display_input.attr('data-id');
  var display_inputs = $('.caption i[data-id='+input_id+']');
  display_inputs.parents('.caption').css('opacity', '1');
  if(display_input.hasClass('fa-square-o')){
    display_inputs.removeClass('fa-square-o');
    display_inputs.addClass('fa-check-square-o');
  } else {
    display_inputs.removeClass('fa-check-square-o');
    display_inputs.addClass('fa-square-o');
  }
  // find id of the real input & modify real input
  var input = $('#form_vinyls_'+input_id);
  input.prop('checked', !input.prop('checked'));

  // Add/remove the vinyl in the selected zone if necessary
  // -- action deselect and icon in the selected zone
  if(display_input.hasClass('fa-square-o') && $('#selected i[data-id='+input_id+']').length > 0){
    $('#selected i[data-id='+input_id+']').parents('.tvf-box').remove();
  } else if (display_input.hasClass('fa-check-square-o') && $('#selected i[data-id='+input_id+']').length == 0) {
    console.log('add ifon');
    var new_icon = display_input.parents('.tvf-box').clone();
    $('#selected').append(new_icon);
  }
  complete_selected_zone_with_blank();
});
function display_result(result){
  var icon = $($('#icon_template').html());
  var input = $('#form_vinyls_'+result.id);
  var mock_input = $('<div style="margin-top: 8px;"><i data-id="'+ result.id +'" class="fa fa-'+(input.prop('checked') ? 'check-':'') +'square-o mock-input" aria-hidden="true"></i></div>');
  icon.find('.caption h3').html(result.name+'<br />').append(mock_input);
  icon.find('img').attr('src', icon.find('img').attr('src')+result.image);
  $('#search_results').append(icon);
}
function end_display_result(){
  var nb_results = Number($('#nb_results').html());
  var missing_icons = (3 - nb_results%3)%3;
  for(var i = 0; i < missing_icons; i++){
    var icon = $($('#icon_template').html());
    icon.find('a').remove();
    $('#search_results').append(icon);
  }
}
function clear_results(){
  $('#search_results').html('');
}
function launch_search(){
  var request = $('#search_request').val();
  console.log('Search requested : "'+request+'"');
  $.ajax({
      url: "{{ path('tvf_store_search') }}",
      type: "POST",
      dataType: "json",
      data: {
        request: request
      },
      async: true,
      success: function (data)
      {
          console.log('Response found');
          var results = data.results;
          $('#nb_results').html(results.length);
          console.log(data.results);
          clear_results();
          for(var i = 0; i < results.length; i++){
            var result = results[i];
            display_result(result);
          }
          end_display_result();
      }
  });
}
$('#search_launch').on('click', function(e){
  e.preventDefault();
  launch_search();
});
/* Delay the search to activate search onyl when user has stopped typing */
var last_key_up = -1;
var delay = 600; // ms
$('#search_request').keyup(function(){
  var date = new Date();
  last_key_up = date.getTime();
  setTimeout(function(){
    var date = new Date();
    if(date.getTime() - last_key_up > delay - 50){
      launch_search();
    }
  }, delay);
});
</script>
<script>
function complete_selected_zone_with_blank(){
  /* Add the fake icons of the selected vinyls if any */
  // Count number of icons
  var nb_results = $('#selected .mock-input').length;
  $('#nb_selected').html(nb_results);
  // Remove the fake icons use to complete if any
  $('#selected .template').remove();

  console.log(nb_results);
  // fill with the right nb of fake icons
  var missing_icons = (3 - nb_results%3)%3;
  for(var i = 0; i < missing_icons; i++){
    var icon = $($('#icon_template').html());
    icon.find('a').remove();
    icon.addClass('template');
    $('#selected').append(icon);
  }
}
complete_selected_zone_with_blank();
</script>
{% endblock %}
