{% extends "TVFStoreBundle::layout.html.twig" %}
{% block body %}
<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div class="offset-sm-3 col-sm-6">
      <form class="form-signin" name="form" method="post" action="{{ path('tvf_record_creation_attribute_add',{'id': id, 'category': category}) }}">
        {% set input_form="TVFAdminBundle:Utils:form_input.html.twig" %}
        {% set save_form="TVFAdminBundle:Utils:form_save.html.twig" %}
        Ajouter/Modifier une attribut de type {{ category }}
        {{ include(input_form, {'element': form.name, 'name':"Nom de l'attribut"}) }}
        {{ include(input_form, {'element': form.value, 'name':"Valeur"}) }}
        {{ include(save_form, {'element': form.save, 'name':"Ajouter"}) }}
        {{ form_rest(form) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% if category == "color" %}
<script>
$('#form_value').addClass('jscolor');
</script>
<script src="{{ asset('bundles/TVF/js/jscolor.min.js') }}"></script>
{% endif %}
{% endblock %}
