<div class="card attribute-card" data-selected="0" {% if attribute.category == "other" %}style="width: 100%;"{% endif %}>
  {% if is_granted('ROLE_ADMIN') and allow_modify %}
    <ul class="edition-btn">
      <li style="float: left;">
        <a href="{{ path('tvf_record_vinyl_attribute_add', {'id': attribute.id, 'category': attribute.category}) }}"><i class="fa fa-pencil-square-o"></i></a>
      </li>
      <li  style="float: right;">
        <a href="{{ path('tvf_record_vinyl_attribute_remove', {'id': attribute.id})}}" class="remove" style="padding-right: 10px;"><i class="fa fa-trash-o"></i></a>
      </li>
    </ul>
  {% endif %}
  <div class="card-block" {% if attribute.category == "other" %}style="padding-top: 0.5rem; padding-bottom: 0.5rem;"{% endif %}>
    {% if attribute.category == "color" %}
      <p style="width: 100%;">
        <span data-toggle="tooltip" data-placement="top" title="#{{attribute.value}}" class="color-choice" style="float: none; margin: auto; background-color:#{{attribute.value}};"></span>
        {% if widget is defined %}
          {{ widget|raw }}
        {% endif %}
      </p>
      <p class="card-text"><b>{{attribute.name}}</b></p>
    {% elseif attribute.category == "size" %}
      <h4 class="card-title">
        {{attribute.name}}
        {% if widget is defined %}
          <br />{{ widget|raw }}
        {% endif %}
      </h4>
      <p class="card-text">{{attribute.value}}</p>
    {% else %}
      <h5 class="card-title" style="text-align: left; margin-left: 10px; margin-bottom: 0;">
        {{attribute.name}}
        {% if widget is defined %}
          {{ widget|raw }}
        {% endif %}
      </h5>
      <p class="card-text" style="text-align: left; margin-left: 10px;">{{attribute.value}}</p>
    {% endif %}
  </div>
</div>
