{% extends "TVFStoreBundle::layout.html.twig" %}
{% block title %}
  | Gestion des attributs
{% endblock %}
{% block body %}

<div id="attribute-page">
  {% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
  {% set text = "TVFStoreBundle:Utils:text.html.twig" %}
  {% set image = "TVFStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'selection'}) }}
  <div class="container">
    {% set card="TVFRecordBundle:Attribute:card_attribute.html.twig" %}
    <div class="row" style="margin-top: 25px;">
      <div class="offset-sm-3 col-sm-6">
        <h4 style="text-align: center;">Gérer les attributs des créations</h4>
        <h5>Types</h5>
        {% for attribute in sizes %}
          {{ include(card, {'attribute': attribute, 'allow_modify': true}) }}
        {% endfor %}
        <div class="card attribute-card">
          <div class="card-block">
            <a href="{{ path('tvf_record_vinyl_attribute_add', {'category': 'size'})}}">
              <h4 class="card-title">+</h4>
              <p class="card-text">Ajouter</p>
            </a>
          </div>
        </div>
        <h5 style="clear:both; padding-top: 20px;">Couleurs du vinyles</h5>
        {% for attribute in colors %}
          {{ include(card, {'attribute': attribute, 'allow_modify': true}) }}
        {% endfor %}
        <div class="card attribute-card" style="height: 101px;">
          <div class="card-block">
            <a href="{{ path('tvf_record_vinyl_attribute_add', {'category': 'color'})}}">
              <h4 class="card-title">+</h4>
              <p class="card-text">Ajouter</p>
            </a>
          </div>
        </div>
        <h5 style="clear:both; padding-top: 20px;">Autres options</h5>
        {% for attribute in others %}
            {{ include(card, {'attribute': attribute, 'allow_modify': true}) }}
        {% endfor %}
        <div class="card attribute-card" style="">
          <div class="card-block">
            <a href="{{ path('tvf_record_vinyl_attribute_add', {'category': 'other'})}}">
              <h4 class="card-title">+</h4>
              <p class="card-text">Ajouter</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}
