{% extends "TVFStoreBundle::layout.html.twig" %}
{% block body %}
{% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
{{ include(navbar, {'active': 'collection'}) }}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form name="form" class="form-signin" method="post" action="{{ path('tvf_admin_category_add',{'id': categoryId}) }}">
        <h3 class="form-signin-heading">{% if categoryId == 0 %}Ajouter{% else %}Modifier{% endif %} une catégorie</h3>
        {% set input_form="TVFAdminBundle:Utils:form_input.html.twig" %}
        {% set save_form="TVFAdminBundle:Utils:form_save.html.twig" %}
        {{ include(input_form, {'element': form.name, 'name':"Nom"}) }}
        {{ include(input_form, {'element': form.slug, 'name':"Alias pour les url"}) }}
        {{ include(save_form, {'element': form.save, 'name':"Ajouter la catégorie"}) }}
        {{ form_rest(form) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
