{% if active is not defined %}
  {%  set active = '' %}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="nav_left_icon" class="top_circle_icon">
        <a href="{{ path('tvf_store_loved') }}" style="color:#BA0020;">
          <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-heart fa-2x full-heart" aria-hidden="true" style="bottom: 1.5rem;"></i>
        </a><br />
        <span id="nb_love" class="badge badge-danger">
          {{ render(controller('TVFStoreBundle:Customer:register_or_login')) }}
        </span>
      </div>
      <div id="nav_right_icon" class="top_circle_icon visible-from-sm">
        {% if is_granted('ROLE_RECORD') %}
        <a href="{{ path('tvf_record_my_account') }}" title="Accéder à votre compte" style="color:#BA0020;">
          <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-user fa-2x full-user" aria-hidden="true"></i>
        </a>
        {% else %}
        <a href="{{ path('tvf_store_cart') }}" style="color: #BA0020;">
          <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
        </a><br />
        <span id="nb_products" class="badge badge-danger">
          {{ render(controller('TVFStoreBundle:Customer:nbProducts')) }}
        </span>
        {% endif %}
      </div>
      <div id="nav_toggle_btn">
        <button class="navbar-toggler navbar-toggler-right" style="z-index: 1;" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <a href="{{ path('tvf_store_homepage') }}" class="sober_link">
      <div class="title special-font" style="margin-top: 2rem;">Le Bon Sillon.</div>
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-toggleable navbar-light top-navbar">
<a class="navbar-brand" href="#"></a>
<div class="collapse navbar-collapse" id="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link {% if active != 'history' %}active{% endif %}" href="{{ path('tvf_store_history') }}">Concept</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active != 'selection' %}active{% endif %}" href="{{ path('tvf_store_selection')}}">Tendances</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active != 'discover' %}active{% endif %}" href="{{ path('tvf_store_explore') }}">La collection</a>
    </li>
  </ul>
</div>
</nav>
