<footer class="">
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-7"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
          <li class="widget-container"><!-- widgets list -->
            <h5 class="title-widget">Les disquaires</h5>
            <ul class="list-unstyled clear-margins">
              {% for client in clients %}
                  <li><a href="/disquaire/{{ client.id }}">{{ client.name }}</a></li>
              {% endfor %}
              <li><a  href="{{ path('tvf_store_join') }}"><i class="fa fa-plus" aria-hidden="true"></i> Nous rejoindre</a></li>
            </ul>
          <li>
        </ul>
      </div>
      <div class="col-sm-3 col-5">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container">
            <h5 class="title-widget">Contact</h5>
            <ul class="list-unstyled clear-margins">
      			  <li><a  href="{{ path('tvf_store_contact') }}">Presse</a></li>
              <li><a  href="{{ path('tvf_store_contact') }}">Carrière</a></li>
              <li><a  href="{{ path('tvf_store_contact') }}">Autre</a></li>
            </ul>
          <li>
        </ul>
      </div>
      <div class="col-sm-3 col-7">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container">
            <h5 class="title-widget">Mentions</h5>
            <ul class="list-unstyled clear-margins">
      			  <li><a  href="#">CGV</a></li>
              <li><a  href="#">Mentions légales</a></li>
              <li><a  href="#">Mention spéciale</a></li>
            </ul>
          <li>
        </ul>
      </div>
      <div class="col-sm-2 col-5">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container">
            <h5 class="title-widget">Langues</h5>
            <ul class="list-unstyled clear-margins">
              <li><a  href="#">Français</a></li>
              <li><a  href="https://www.lebonbon.fr/paris/pop-culture/connais-tu-vraiment-l-argot-parisien/">Argot</a></li>
            </ul>
          <li>
        </ul>
      </div>
    </div>
  </div>
</footer>
