
<!DOCTYPE HTML>
<html>
  <head>
    <title>Le Bon Sillon {% block title %}{% endblock %}</title>
    <meta name="description" content="Le Bon Sillon est une plateforme de vente de vinyles pour les disquaires indépendants." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/TVF/global_style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% set edition_buttons="TVFAdminBundle:Utils:edition.html.twig" %}
    {% block body %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="{{ asset('bundles/TVF/js/jquery.zoom.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ asset('bundles/TVF/js/color-thief.min.js') }}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    <script>
      $('[data-toggle="tooltip"]').tooltip();
      $('textarea').each(function(){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('body').on('keyup', 'textarea', function(e){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('.internal-link').on('click', function(e){
        // if is link
        if($(e.target).closest('a').length){
          e.preventDefault();
        }
        var hidden_element_id = $(this).attr('data-target');
        console.log(hidden_element_id);
        $('#'+hidden_element_id).show();
        if(!$(this).hasClass('keep')){
          $(this).hide();
        }
      });
    </script>
    <script>
    function portray(img){
      var width = img.width();
      var height = img.height();
      if(width == 0 || height == 0){
        console.log('Portraying failed');
        setTimeout(function(){
          console.log('New attempt for portraying');
          portray(img);
        }, 500);
      } else {
        if(width < height){
           img.addClass('portrait');
        }
        img.show();
      }
    }
    $(document).ready(function() {
        $('.tvf-icon img').each(function(){
            var img = $(this);
            portray(img);
        });
    });
    </script>
    {% block script %} {% endblock %}
    <script>
    {% if is_granted('ROLE_USER') %}
    var supprItems = $('.remove');
    for(i=0; i<supprItems.length; i++){
        $(supprItems[i]).on('click', function(e){
            e.preventDefault();
            var url = this.href;
            var box = bootbox.dialog({
                  message: "Confirmer la suppression",
                  title: "Supprimer cet élément ?",
                  buttons: {
                      "Oh non.": {
                          className: "btn-default",
                      },
                      main: {
                          label: "Supprimer",
                          className: "btn-danger",
                          callback: function() {
                              window.location = url;
                          }
                      }
                  }
              });
        });
    }
    {% endif %}
    </script>
    <script>
    var selected_id = -1;
    /* Handle love btn actions */
    var love_url = '{{ path('tvf_store_vinyl_love') }}/';
    var unlove_url = '{{ path('tvf_store_vinyl_unlove') }}/';
    $('.love_icon_insta_btn').on('click', function(e){
      e.preventDefault();
      var $vinyl = $(this).closest('.tvf-box');
      selected_id = $vinyl.attr('data-id');
      setTimeout(function(){
        $('#vinyl_overview .love_btn a').click();
      }, 200);
    });
    $('#vinyl_overview .love_btn a').on('click', function(e) {
      var url;
      var $icon = $(this).find('i').first();
      if($icon.hasClass('fa-heart-o')){
        console.log('Love detected');
        url = love_url;
      } else {
        console.log('Unlove detected');
        url = unlove_url;
      }
      url += selected_id
      e.preventDefault();
      $.ajax({
          url: url,
          type: "POST",
          dataType: "json",
          data: {
          },
          async: true,
          success: function (data)
          {
              console.log('Action stored.');
              var nb = Number($('#nb_love').html());
              var vinyl = $('.tvf-box[data-id='+selected_id+']');
              if($icon.hasClass('fa-heart-o')){
                $icon.removeClass('fa-heart-o').addClass('fa-heart');
                $('#nb_love').html(nb+1);
                vinyl.attr('data-loved', 1);
                vinyl.find('.love_icon_insta_btn i').first().removeClass('fa-heart-o').addClass('fa-heart');
              } else {
                $icon.removeClass('fa-heart').addClass('fa-heart-o');
                $('#nb_love').html(nb-1);
                vinyl.attr('data-loved', 0);
                vinyl.find('.love_icon_insta_btn i').first().removeClass('fa-heart').addClass('fa-heart-o');
              }
          }
      });
    });
    </script>
    <script>
    var overview_id = -1;
    $('#vinyl_overview').removeClass('hide');
    var active_index = -1;
    function fire_action_cart_for_product(id){
      id = Number(id);
      var url;
      console.log(products_id_in_cart);
      console.log(id);
      if(products_id_in_cart.includes(id)){
        console.log('remove');
        url = '{{ path('tvf_store_remove_from_cart') }}';
      } else {
        console.log('add');
        url = '{{ path('tvf_store_add_to_cart') }}';
      }
      url += '/'+id;
      window.location = url;
    }
    $('#vinyl_overview').on('click', '.price_btn', function(e){
      e.preventDefault();
      //fire_action_cart_for_product(overview_id);
    });
    $('#my_insta').on('click', 'a.show-vinyl', function(e){
      // if clicked on buy
      if($(this).find('.icon_insta_price').length > 0 &&
         $.contains($(this).find('.icon_insta_price').get(0), e.target)){
        var id = $(this).parents('.tvf-box').attr('data-id');
        //fire_action_cart_for_product(id);
      }
      e.preventDefault();
      if (typeof reorganize === "function") {
          reorganize();
      }
      var $vinyl = $(this).closest('.tvf-box');
      selected_id = $vinyl.attr('data-id');
      var row_index = Number($vinyl.attr('data-index'));
      /* Remove the icons hidden that dont count for the index */
      var index = row_index;
      {% if is_granted('ROLE_RECORD') or is_granted('ROLE_ADMIN') %}
      if($('.add-vinyl-btn').length > 0){
          index += 1;
      }
      {% endif %}
      if(index == active_index){
        $('#vinyl_slider').slideUp(400, function(){
            $('#vinyl_overview').hide();
        });
        active_index = -1;
      } else {
        var after_index = index - index%3 + 2;
        var $after_box = $($('#my_insta .tvf-box:not(.no-count):not(.hide) .tvf-inner')[after_index]).parent('.tvf-box');
        // If different row, need to slide up the overview :
        if(active_index == -1 || after_index != (active_index - active_index%3 + 2)){
            $('#vinyl_slider').slideUp('fast', function() {
              $('#vinyl_overview').insertAfter($after_box);
              update_content_overview($vinyl, index, after_index);
              $('#vinyl_overview').hide();
            });
        } else {
          update_content_overview($vinyl, index, after_index);
        }
        active_index = index;
      }
    });

    var base_url_see_more = '{{ path('tvf_store_vinyl') }}';
    function update_content_overview($vinyl, index, after_index){
      overview_id = $vinyl.attr('data-id');
      $("#vinyl_overview .vinyl-name").html($vinyl.attr('data-name'));
      var artists = $vinyl.attr('data-artists').split(',');
      var artists_html = '';
      for(var i=0; i<artists.length; i++){
        if(i > 0) artists_html += ', ';
        artists_html += '<a href="{{ path('tvf_store_explore') }}?q='+artists[i]+'">'+artists[i]+'</a>';
      }
      $("#vinyl_overview .vinyl-artists").html(artists_html);
      $("#vinyl_overview .vinyl-description").html($vinyl.attr('data-description'));
      $("#vinyl_overview .vinyl-see-more").attr('href', base_url_see_more + $vinyl.attr('data-id'));
      $("#vinyl_overview .vinyl-disquaire").html($vinyl.attr('data-disquaire'));
      // Set price
      if($vinyl.attr('data-onsold') == '1'){
        $("#vinyl_overview .price_btn").show();
        $("#vinyl_overview .vinyl-price").html($vinyl.attr('data-price') + ' €');
      } else {
        $("#vinyl_overview .price_btn").hide();
      }
      // Set url
      var base_href = $("#vinyl_overview .vinyl-disquaire-link").attr('data-href');
      var href = base_href + '/' + $vinyl.attr('data-disquaire-link');
      $("#vinyl_overview .vinyl-disquaire-link").attr('href', href);
      // Set image
      var $img = $("#vinyl_overview .vinyl-img");
      var src = $img.attr('data-src') + $vinyl.attr('data-img');
      $img.attr('src', src);
      // Set love btn
      var $icon = $('#vinyl_overview .love_btn a i').first();
      if($vinyl.attr('data-loved') == '1'){
        $icon.removeClass('fa-heart-o').addClass('fa-heart');
      } else {
        $icon.removeClass('fa-heart').addClass('fa-heart-o');
      }
      // Set add to cart btn
      var url = '{{ path('tvf_store_add_to_cart') }}/'+overview_id;
      $("#vinyl_overview .vinyl-btn-add-cart").attr('href', url);

      var image = $vinyl.find('img').first();
      color_overview_from_img(image);
      // adapt caret
      $("#vinyl_overview .caret").css('right', 'calc('+(16.67+(after_index - index)*33.33)+'% - 10px)');

      setTimeout(function(){
        $('#vinyl_overview').show();
        $('#vinyl_slider').slideDown();
      }, 10);
    }

    function color_overview_from_img(image){
      /* Color the vinyle overview */
      var colorThief = new ColorThief();
      var colors = colorThief.getPalette(image[0], 3);
      var c = colors[0];
      var rgb = 'rgb('+c[0]+','+c[1]+', '+c[2]+')';
      $('.vinyl-overview').css('color', rgb);
      $('.vinyl-overview .love_btn a').css('color', rgb);
      $('.love_price .badge').css('color', rgb);
      $('.vinyl-overview .love_btn, .vinyl-overview .cart_icon').hover(function(){
        $(this).css('border-color', rgb);
      });
      $('.vinyl-overview .love_btn, .vinyl-overview .cart_icon').mouseleave(function(){
        $(this).css('border-color', '');
      });
      var c = colors[1];
      var rgb_bg = 'rgb('+c[0]+','+c[1]+', '+c[2]+')';
      $('.vinyl-overview .window').css('background-color', rgb_bg);
      $('.vinyl-overview .caret').css('border-bottom', '10px solid '+rgb_bg);
      var c = colors[2];
      var rgb_2 = 'rgb('+c[0]+','+c[1]+', '+c[2]+')';
      $('.vinyl-overview h5, .vinyl-overview h6').css('color', rgb_2);
    }
    </script>
    <script>
    /* Effects relative to cart btn, cart display, and add to cart confirmation */
    function show_icon_to_cart($this){
      var id = Number($this.parents('.tvf-box').attr('data-id'));
      id = isNaN(id) ? Number(overview_id) : id;
      var cart_icon;
      var url;
      if(products_id_in_cart.includes(id)){
        url = '{{ path('tvf_store_remove_from_cart') }}/'+id;
        cart_icon = $('<span class="to-cart"><i class="fa fa-trash-o"></i>&nbsp;<i class="fa fa-shopping-basket"></i></span>');
      } else {
        url = '{{ path('tvf_store_add_to_cart') }}/'+id;
        cart_icon = $('<span class="to-cart"><i class="fa fa-plus-circle"></i>&nbsp;<i class="fa fa-shopping-basket"></i></span>');
      }
      $this.html('<span>'+ $this.html() +'</span>');
      $this.find('span').css('opacity', 0);
      $this.prepend(cart_icon);
      $this.parents('a').attr('href', url);
    }
    function remove_icon_from_cart($this){
      if($this.has('.to-cart')){
        $this.find('.to-cart').remove();
        $this.find('span').css('opacity', 1);
        $this.html($this.find('span').html());
      }
    }
    $('.price-cart').hover(function(){
      var $this = $(this);
      show_icon_to_cart($this);
      setTimeout(function(){
        remove_icon_from_cart($this);
      }, 2000);
    },function(){
      var $this = $(this);
      setTimeout(function(){
        remove_icon_from_cart($this);
      }, 500);
    });
    $('.price-cart').focus(function(){
      var $this = $(this);
      show_icon_to_cart($this);
      setTimeout(function(){
        remove_icon_from_cart($this);
      }, 2000);
    });
    $('.link-to-cart').on('click', function(e){
      e.preventDefault();
      if($('.embedded-cart').hasClass('hide')){
        $('.embedded-cart').slideDown().removeClass('hide');
      } else {
        $('.embedded-cart').slideUp().addClass('hide');
      }
    });
    $('.close-cart').on('click', function(e){
      e.preventDefault();
      $('.embedded-cart').slideUp().addClass('hide');
    });
    {% if show_cart is defined %}
    $('.embedded-cart').slideDown().removeClass('hide');
    {% endif %}

    function nl2br(str, is_xhtml) {
        if (typeof str === 'undefined' || str === null) {
            return '';
        }
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }
    $('.buy-confirmation').on('click', function(e){
      e.preventDefault();
      // Need to get the id of the product (to retrieve the record and record address)
      // Distinguish between click from overview and insta_icon
      var vinyl_id;
      if($(this).find('.icon_insta_price').length){ // from insta icon
        var $vinyl = $(this).closest('.tvf-box');
        vinyl_id = $vinyl.attr('data-id');
      } else { // else from overview, id is selected_id
        vinyl_id = selected_id;
      }
      vinyl_id = Number(vinyl_id);
      if(products_id_in_cart.includes(vinyl_id)){
        url = '{{ path('tvf_store_remove_from_cart') }}/'+vinyl_id;
        window.location = url;
      } else {
        var record_name = $('.tvf-icon[data-id='+vinyl_id+']').attr('data-disquaire');
        var record_name_link = $('.tvf-icon[data-id='+vinyl_id+']').attr('data-disquaire-link');
        var url = this.href;
        var box = bootbox.dialog({
              size: 'large',
              message: `
                {{ include('TVFStoreBundle:Cart:choice.html.twig') }}
              `,
              title: '<i class="fa fa-shopping-basket"></i> Ajouter ce vinyle au panier ? &nbsp;',
              buttons: {
                  "Achetez chez le disquaire": {
                      className: "btn-default",
                  },
                  main: {
                      label: "Ajouter au panier",
                      className: "btn-default",
                      callback: function() {
                          window.location = url;
                      }
                  }
              }
          });
          setTimeout(function(){
            $('#cart-record-choice').find('.record-name').html(record_name);
            $('#cart-record-choice').find('.add-vinyl-to-cart').attr('href', url);
          }, 50);
          $.ajax({
              url: '{{ path('tvf_record_get_address') }}/'+record_name_link,
              type: "POST",
              dataType: "json",
              data: {},
              async: true,
              success: function (data)
              {
                console.log(data);
                $('#cart-record-choice').find('.record-address').html(nl2br(data.address));
              }
          });
        }
      });
    </script>
  </body>
</html>
