
<div id="collection_carousel" class="collection-carousel" style="display:none;">
  {% for collection in collections %}
  <div class="collection-item">
    <a href="{{ path('tvf_store_explore', {'collection': collection.slug }) }}">
      <img class="collection-img" src="{{ asset('uploads/img/' ~ collection.small_image) }}">
      <div class="item-overlay top"></div>
    </a>
      <div class="collection-description">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECORD') %}
          {% set edition_buttons="TVFAdminBundle:Utils:edition.html.twig" %}
          {{ include(edition_buttons, {'edit': path('tvf_record_collection_add', {'id': collection.id}), 'remove': path('tvf_record_collection_remove', {'id': collection.id}) }) }}
        {% endif %}
        <a href="{{ path('tvf_store_explore', {'collection': collection.slug }) }}">
          <h2>{{ collection.title }}</h2>
          <p>
            {{ collection.description }}
          </p>
        </a>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
