{% extends "TVFStoreBundle::layout.html.twig" %}
{% block title %}
  | Vos sélections
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/TVF/slick/slick.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/TVF/slick/slick-theme.css') }}"/>
{% endblock %}
{% block body %}
<div id="record-page">
  {% set navbar = "TVFRecordBundle:Utils:nav.html.twig" %}
  {% set text = "TVFStoreBundle:Utils:text.html.twig" %}
  {% set image = "TVFStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'selection'}) }}
  <div class="container container-body">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
      {% set carousel = "TVFStoreBundle:Selection:index.html.twig" %}
      {{ include(carousel) }}
      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECORD') %}
        <a class="btn btn-primary" style="margin-top: 5px;" href="{{ path('tvf_record_selection_add')}}">+ Créer une nouvelle sélection</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% set carousel_scripts = "TVFStoreBundle:Selection:index_scripts.html.twig" %}
{{ include(carousel_scripts) }}
{% endblock %}
